.nav-element {
    min-height: $nav-height;
    @include flexBody;
    &__links {
        .nav-links {
            @include flexBody;
            li {
                margin-right: 1rem;
                padding: 3rem;
                a {
                    color: $primary-color;
                }
            }
        }
    }
}
header {
    border-bottom: 2px solid $primary-color;
    background: $secondary-color;
    padding: 0 5rem;
}
