.intro-banner {
    padding: 3rem 5rem;
    margin: auto;
    @include flexBody;
    &__text {
        flex: 1;
        .app-logos {
            width: 100%;
            display: flex;
            align-items: center;
        }
        p {
            line-height: 30px;
        }
        button {
            font-weight: bold;
        }
    }
    &__card {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.center-container {
    @include flexBody;
    margin: auto;
    border: 1px solid red;
    // width: 95%;
    padding: 4rem;
    &__text {
        li {
            list-style: disc;
            color: #fff;
            font-weight: 600;
            margin: 2rem;
            width: 200px;
            font-size: 1rem;
        }
    }
}
.card {
    @include big-card;
    img {
        width: 100%;
        height: 100%;
    }
}

.section {
    @include section("../../img/bg-1.png");
}

.center-section {
    background: url("../../img/bg-2.png"), $secondary-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-blend-mode: ;
}

.third-section {
    @include section("../../img/bg-3.png");
    background-color: rgba(0, 0, 0, 0.911);
    text-align: center;
    .text-header {
        margin: auto;
        padding: 5rem 0;
        width: 800px;
        font-size: 3rem;
        font-weight: bold;
        color: $primary-color;
    }
    p {
        width: 500px;
        margin: auto;
        line-height: 30px;
        color: #fff;
        font-size: 1.1rem;
    }
}
.fourth-section {
    @include section("../../img/bg-4.png");
    background-color: rgba(0, 0, 0, 0.911);
    padding: 5rem;
    .text {
        width: 60%;
        text-align: center;
        margin: 4rem 0;
        &-header {
            width: 50%;
            margin: auto;
            font-size: 3rem;
            font-weight: bold;
            color: $primary-color;
        }
    }
    p {
        margin: auto;
        width: 500px;
        line-height: 30px;
        color: #fff;
        font-size: 1.1rem;
    }
}
