*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  line-height: 1.4;
  list-style: none;
  font-family: sans-serif;
}

a {
  color: #333;
}

.btn {
  outline: none;
  border-width: 0;
}
.btn:focus, .btn:focus-within {
  outline: none;
}
.btn-large {
  padding: 1.5rem 3rem;
}
.btn-small {
  padding: 0.9rem 3rem;
}
.btn-secondary {
  color: #ff7f26;
  background: #061327;
}
.btn-secondary:hover {
  background-color: #ff7f26;
  color: #061327;
}
.btn-primary {
  background: #ff7f26;
  color: #fff;
}
.btn-primary:hover {
  background-color: #ff7f26;
  color: #061327;
}
.btn-curved {
  border-radius: 50px;
}

.dark {
  background-color: #061327;
  color: #ff7f26;
}

.logo {
  width: 150px;
}

.text-bold {
  font-weight: bold;
}

.header-text {
  font-size: 3rem;
  font-weight: bold;
  color: #ff7f26;
  max-width: 500px;
}

.para-text {
  font-size: 1rem;
  color: #061327;
  max-width: 350px;
  padding: 2rem 0;
}

.text-white {
  color: #fff;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.border-1 {
  border-width: 1px !important;
  border-color: #ff7f26 !important;
}

.border-2 {
  border-width: 2px !important;
  border-color: #ff7f26 !important;
}

.border-3 {
  border-width: 3px !important;
  border-color: #ff7f26 !important;
}

.border-4 {
  border-width: 4px !important;
  border-color: #ff7f26 !important;
}

.border-5 {
  border-width: 5px !important;
  border-color: #ff7f26 !important;
}

.border-6 {
  border-width: 6px !important;
  border-color: #ff7f26 !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mt-6 {
  margin-top: 6rem;
}

li.li {
  list-style-image: url("../../img/vector.png");
}

.nav-element {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-element__links .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-element__links .nav-links li {
  margin-right: 1rem;
  padding: 3rem;
}
.nav-element__links .nav-links li a {
  color: #ff7f26;
}

header {
  border-bottom: 2px solid #ff7f26;
  background: #243754;
  padding: 0 5rem;
}

.intro-banner {
  padding: 3rem 5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-banner__text {
  flex: 1;
}
.intro-banner__text .app-logos {
  width: 100%;
  display: flex;
  align-items: center;
}
.intro-banner__text p {
  line-height: 30px;
}
.intro-banner__text button {
  font-weight: bold;
}
.intro-banner__card {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border: 1px solid red;
  padding: 4rem;
}
.center-container__text li {
  list-style: disc;
  color: #fff;
  font-weight: 600;
  margin: 2rem;
  width: 200px;
  font-size: 1rem;
}

.card {
  padding: 5rem;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  background: #243754;
}
.card img {
  width: 100%;
  height: 100%;
}

.section {
  background-image: url("../../img/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.center-section {
  background: url("../../img/bg-2.png"), #243754;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.third-section {
  background-image: url("../../img/bg-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.911);
  text-align: center;
}
.third-section .text-header {
  margin: auto;
  padding: 5rem 0;
  width: 800px;
  font-size: 3rem;
  font-weight: bold;
  color: #ff7f26;
}
.third-section p {
  width: 500px;
  margin: auto;
  line-height: 30px;
  color: #fff;
  font-size: 1.1rem;
}

.fourth-section {
  background-image: url("../../img/bg-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.911);
  padding: 5rem;
}
.fourth-section .text {
  width: 60%;
  text-align: center;
  margin: 4rem 0;
}
.fourth-section .text-header {
  width: 50%;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  color: #ff7f26;
}
.fourth-section p {
  margin: auto;
  width: 500px;
  line-height: 30px;
  color: #fff;
  font-size: 1.1rem;
}

/*# sourceMappingURL=style.css.map */
