*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    line-height: 1.4;
    list-style: none;
    font-family: sans-serif;
}
a {
    color: #333;
}

@import "./variables";
@import "./utils";
@import "./Nav/nav";
@import "./sections/banner";
